<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MoviesList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MoviesList</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content class="search-content">
    <ion-input class="search-input" [(ngModel)]="search" placeholder="Avengers, The Matrix, Titanic ..."></ion-input>
    <ion-button class="search-button" (click)="handleClick()">Search</ion-button>
    @if (movies.length === 0) {
    <p class="message">{{message}}</p>
    }
  </ion-card-content>

  @if (movies.length > 0) {

  <ion-card-subtitle>
    Results for <span class="search">{{search}}</span>:
  </ion-card-subtitle>

  <ion-list class="content">
    @for (movie of movies; track movie.imdbID) {
    <ion-item class="content-item">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{movie.Title}}</ion-card-title>
          <ion-card-subtitle>{{movie.Year}} - {{movie.Type}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img id="{{movie.imdbID}}-img" src={{movie.Poster}} alt={{movie.Title}}>
          <ion-toast message="{{movie.Title}} - {{movie.Year}}" duration="2000"
            trigger="{{movie.imdbID}}-img"></ion-toast>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
  </ion-list>

  }

</ion-content>